* {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  font-size: 1.15em;
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  margin-top: 5px;
}

input {
  background-color : cyan;
  color: #000;
  margin 5px;
}

div {
  border: 1px solid #000;
  margin: .2em;
}

#main {
  height: 150px;
  position: scroll;
  font-size: 2.2em;
  line-height: 2.2em;
}

#button-click {
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: cyan;
}
.font2 {
  font-family: 'Amatic SC', cursive;
}

.font3 {
  font-family: 'Questrial', sans-serif;
}

.div-over:hover { background-color: lightblue; }
